body {
    background-color: rgb(24, 27, 19);
    /* align-items: center; */
    margin-left: auto;
    font-family: "Audiowide", sans-serif;
}

.td-title {
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    background-image: url("../images/bcg1.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.div-main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(213, 253, 66);
    font-size: large;
    align-items: center;
    opacity: .8; 
    background-color: rgb(24, 27, 19);
}

.div-board {
    background-image: url("../images/NecronNumbers.png") !important;
    background-color: rgb(24, 27, 19);
    /* width: 600px; */
    width: 600px;
    height: 600px;
    /*align-items: center;*/
   
}

.minesweeper {
    /* background-image: url("../images/SaveNecronNumbers.png") !important; */
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(24, 27, 19);
}

element.style {
    width: 5px;
    height: 39px;
}

.face_unpressed {
    background-image: url("../images/face_unpressed.svg");
}

.face_lose {
    background-image: url("../images/face_lose.svg");
}

.face_win {
    background-image: url("../images/face_win.svg");
}

.face {
    margin: 0 auto;
    background-size: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet div {
    display: block;
}

.top-area-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wrapper {
    border-collapse: separate;
}

.content {
    max-width: 500px;
    margin: auto;
}

.size48 {
    width: 48px;
    height: 48px;
    font-size: 10px;
    line-height: 47px;
}

.size100 {
    width: 100px;
    height: 100px;
    font-size: 10px;
    line-height: 47px;
}

.size36 {
    width: 36px;
    height: 36px;
    font-size: 10px;
    line-height: 23px;
}

.size24 {
    width: 24px;
    height: 24px;
    font-size: 10px;
    line-height: 23px;
}

.cell {
    float: left;
    background-size: 100%;
    font-weight: 700;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.wrapper {
    border-collapse: separate;
}

.hd_type0 {
    /* background-image: url("../images/type0.svg"); */
    background-image: url("../images/dd0.png");
}

.hd_type1 {
    /* background-image: url("../images/type1.svg"); */
    background-image: url("../images/dd1.png");
}

.hd_type2 {
    /* background-image: url("../images/type2.svg"); */
    background-image: url("../images/dd2.png");
}

.hd_type3 {
    /* background-image: url("../images/type3.svg"); */
    background-image: url("../images/dd3.png");
}

.hd_type4 {
    /* background-image: url("../images/type4.svg"); */
    background-image: url("../images/dd4.png");
}

.hd_type5 {
    /* background-image: url("../images/type5.svg"); */
    background-image: url("../images/dd5.png");
}

.hd_type6 {
    /* background-image: url("../images/type6.svg"); */
    background-image: url("../images/dd6.png");
}

.hd_type7 {
    /* background-image: url("../images/type7.svg"); */
    background-image: url("../images/dd7.png");
}

.hd_type8 {
    /* background-image: url("../images/type8.svg"); */
    background-image: url("../images/dd8.png");
}

.hd_flag {
    background-image: url("../images/flag.svg");
}

.hd_mine {
    background-image: url("../images/mine.svg");
}

.hd_mine_red {
    background-image: url("../images/mine_red.svg");
}

.hd_closed {
    background-image: url("../images/closed.svg");
}

.face_lost {
    width: 90px!important;
    height: 90px!important;
    font-size: 10px;
    line-height: 47px;
    background-image: url("../images/face_lost.svg");
}

.face_unpressed {
    width: 90px!important;
    height: 90px!important;
    font-size: 10px;
    line-height: 47px;

    background-image: url("../images/face_unpressed.svg");
}

.face_win {
    width: 90px!important;
    height: 90px!important;
    font-size: 10px;
    line-height: 47px;
    background-image: url("../images/face_win.svg");
}